#root {
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
}

input.inputBox {
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
  width: 300px
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-45%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}